.header-main {
  ::-webkit-scrollbar {
    width: 0;
  }
    width: 100vW;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;


  * {
    font-family: "Circe", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .logo{
    width: 181px;
    height: 45px;
  }
  .header-grow{
    min-width: 200px;
  }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .logo{
      padding-left: 13vw;
    }
  }
  .burger{
    top: 18px;
    left: 30px;
    height: 24px;
    width: 24px;
    position: absolute;
    display: none;
  }
  .button-container {
    padding-left: 100px;
    width: 26vW;
    margin-right: 0;
    display: flex;
  }

  .button-container button {
    white-space: nowrap;
    margin-right: 2vW;
    border: 0;
    background: none;
    font-size: 18px;
    line-height: 100%;
    color: #000850;
    opacity: 0.7;
  }
  .header-sidebar{
    display: none;
  }
  .button-container button:last-child {
    margin-right: 0;
  }

  .header-grow {
    width: 10vw;
  }

  .outlined-button {
    background: none;
    width: 139px;
    height: 34px;
    border: 1px solid #03A0E8;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #03A0E8;
    margin: 0 11px;
  }

  .outlined-button:hover {
    background: #0098DE;
    color: white;
    transition: 0.5s ease;
  }

  .main-button {
    width: 92px;
    height: 34px;
    background: #03A0E8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 11px;
    border: none;
  }

  .main-button:hover {
    background: #0098DE;
    transition: 0.5s ease;
  }

  .header-auth-buttons {
    display: flex;
    padding-right: 235px;
  }

  button {
    cursor: pointer;
  }
}
@media screen and (max-width: 1000px){
  .header-main{
    overflow: visible;
    .header-sidebar{
      display: none;
    }
    .header-sidebar.active{
      display: block;
      height: 193vH;
      width: 280px;
      background: #FFF;
      box-shadow: 0px 2px 7px 1px rgba(77, 78, 109, 0.1);
      border-radius: 0px 10px 10px 0px;
      position: absolute;
      z-index: 1;
    button{
          display: block;
      visibility: visible;
      opacity: 1;
          width: 280px;
          background-color: red;
          height: 20px;
        }
      }


    .burger{
      display: block;
    }
    .header-container{
      padding-right: 18px;
    }
    .button-container{
      display: none;
    }
    .logo{
      display: none;
    }
    .header-auth-buttons{
      display: none;
    }
  }

}
