.sidebar {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 8, 80, 0.75);
  word-wrap: anywhere;
  box-sizing: border-box;
  width: 280px;
  height: 100vh;
  background: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 24px;
}
.sidebar ::-webkit-scrollbar {
  width: 0;
}
.sidebar .filter {
  padding-top: 40px;
  height: 50vh;
  width: 280px;
}
.sidebar .logo {
  margin-top: 16px;
}
.sidebar .category {
  position: relative;
}
.sidebar .category label {
  cursor: pointer;
}
.sidebar .category .label-click {
  width: 198px;
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
.sidebar .category span {
  cursor: pointer;
  color: #6F7D97;
}
.sidebar .category .add-category {
  margin-bottom: 14px;
  color: #6F7D97;
  cursor: pointer;
}
.sidebar .category:after {
  position: absolute;
  content: "";
  width: 232px;
  height: 1px;
  background: #D7D7D7;
}
.sidebar .category-items {
  list-style: none;
}
.sidebar .category-items li {
  cursor: pointer;
  margin-bottom: 12px;
  height: 24px;
}
.sidebar .category-items input {
  outline: none;
  border: none;
}
.sidebar .tags {
  position: relative;
  margin-top: 24px;
}
.sidebar .tags label {
  cursor: pointer;
}
.sidebar .tags .label-click {
  width: 198px;
  height: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
.sidebar .tags span {
  cursor: pointer;
  color: #6F7D97;
}
.sidebar .tags .tags-list {
  margin-top: 16px;
  list-style: none;
}
.sidebar .tags .tags-list li {
  margin-bottom: 12px;
  cursor: pointer;
}
.sidebar .tags .tags-list input {
  outline: none;
  border: none;
}
.sidebar .profile {
  margin-top: 33vh;
  display: flex;
  cursor: pointer;
  position: relative;
}
.sidebar .profile-name:focus ~ .profile-box {
  display: inline;
}
.sidebar .profile-box:focus, .sidebar .profile-box:hover {
  display: inline;
}
.sidebar .profile-name {
  margin: 1vh;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.sidebar .label-click:after {
  color: #6F7D97;
  font-size: 24px;
  content: "+";
  position: absolute;
  right: 55px;
  top: 2px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.sidebar .profile-box {
  position: absolute;
  width: 257px;
  height: 200px;
  left: 0;
  top: -210px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  cursor: auto;
  display: none;
  z-index: 2;
}
.sidebar .profile-box-account {
  display: flex;
  border-bottom: 1px solid #B7B7BF;
  margin: 0 10px;
}
.sidebar .profile-box-img {
  margin: 5px;
}
.sidebar .profile-box-name {
  color: #000850;
  margin-top: 5px;
}
.sidebar .profile-box-email {
  color: #B7B7BF;
}
.sidebar .profile-box-function {
  margin-left: 10px;
  margin-top: 10px;
}
.sidebar .profile-box-settings-item {
  margin-left: 40px;
  position: relative;
  color: #000850;
}
.sidebar .profile-box-settings, .sidebar .profile-box-notifications, .sidebar .profile-box-logout {
  cursor: pointer;
}
.sidebar .profile-box-settings, .sidebar .profile-box-notifications {
  margin-bottom: 15px;
}

/*# sourceMappingURL=Sidebar.css.map */
