.MuiSelect-select.MuiSelect-outlined.MuiSelect-multiple.MuiOutlinedInput-input.MuiInputBase-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  color: #6F7D97;
}
.create-todo {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .form {
    padding: 108px 64px;
    flex-direction: column;
  }

  .form-box {
    width: 947px;
    height: 734px;
    display: flex;
    flex-direction: column;
  }

  .input-container {
    width: 819px;
    height: 237px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  .form-email-input {
    width: 396px;
    height: 50px;
    padding: 14px 0 14px 20px;

  }

  .login-email {
    font-size: 18px;
    width: 400px;
    margin: 0;
    padding: 12px 2px;
  }

  .form-description-input {
    padding: 14px 20px;
    width: 820px;
    height: 130px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    font: inherit;
    outline: 0;
    margin-top: 10px;
    resize: none;
  }

  .form-email-label{
    padding: 0 10px;
    background: #fff;
    left: 15px;
    top: 1px;
  }

  .form-description-label {
    cursor: text;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    color: #6F7D97;
    bottom: 100px;
    left: 10px;
    padding: 0 10px;
    margin-top: -15px;
    transform-origin: 0 50%;
    transition: 0.4s cubic-bezier(0.4, 0, 0, 1);
  }

  .form-description {

    position: relative;
    font-size: 18px;
    min-width: 300px;
  }

  .form-description-input::placeholder {
    opacity: 0;
    transition: 0.4s cubic-bezier(0.4, 0, 0, 1);
    transform: translate3d(0, 50%, 0);
  }

  .form-description-input:focus::placeholder {
    opacity: 1;
    transform: none;
  }

  .form-description-input:focus + .form-description-label, .form-description-input:not(:placeholder-shown) + .form-description-label {
    transform: translate3d(5px, -25px, 0) scale(0.66);
  }
  .MuiOutlinedInput-root {
    border-radius: 10px;
    width: 396px;
    height: 50px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .menu-item{
    position: relative;
  }
  .menu-item-icon{
    position: absolute;
    top: 12px;
  }
  .circle{
    left: 15px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 17px;
    border-radius: 8px;
  }

  .all-labels{
    padding: 0 10px;
    background: #FFF;
  }

  .form-prev-todo{
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    margin: 0 12px 0 0;
    background: transparent;
    cursor: pointer;
  }
  .form-prev-todo:before{
    content: '<';
    color: #B7B7BF;
    position: absolute;
    left:17px;
    top: 12px;

  }
  .form-prev-todo:hover{
    background: transparent;
  }

  .form-next-todo{
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 8px 0;
    width: 180px;
    height: 50px;
    background: #03A0E8;
    border-radius: 10px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .form-next-todo:after{
    content: '+';
    font-weight: normal;
    font-size: 30px;
    position: absolute;
    right: 12px;
    top: 14px;
  }
  .form-next-todo:hover{
    background: #0098DE;
    cursor: pointer;
  }
  .footer{
    margin-left: 580px;
    margin-top: 20px;
  }
  .MuiPaper-root{
    border-right: 10px;
  }
  .tags-group{
    width: 350px;
    height: 26px;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: absolute;
    top: 1.5vh;
    left: 1vw;
    color: #6F7D97;
  }
  .tags-title{
    position: absolute;
    font-size: 14px;
    color: #6F7D97;
    top: -1vh;
    left: 1vw;
    padding: 0 10px;
    background: #fff;
    z-index: 1;
  }
  .tag{
    display: flex;
  }
}
@media screen and (max-width: 990px){
    .create-todo{
      .MuiOutlinedInput-root{
        width: 100%;
      }
      .form-box{
        height: 1010px;
        width: 708px;
      }
      .input-container{
        flex-wrap: nowrap;
        width: 100%;
      .login-email{
        width: 100%;
        .MuiOutlinedInput-root{
          width: 100%;
        }
        .MuiFormControl-root{
          width: 100%;
          .MuiOutlinedInput-root{
            width: 100%;
          }
        }
        .tags{
          width: 100%;
          .MuiFormControl-root{
            width: 100%;
            .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
              width: 100%;
            }
          }
        }
        input{
          width: 100%;
        }
        }
      }
      .form{
        height: 100%;
        width: 100%;
      }
      .description-container{
        margin-top: 185px;
        width: 80%;
      .form-description-input{
        width: 125%;
      }
      }
     .footer {
       margin-left: 340px;
      }
  }
}
@media screen and (max-width: 750px){
  .create-todo{
    .header{
      margin-top: 6px;
    }
    .login-email{
      padding: 0;
      margin: 14px 0;
    }
    .tags{
      padding: 0;
      margin: 14px 0;
    }
    .form{
      padding: 20px;
    }
    .form-box{
      width: 335px;
      height: 867px;
    }
    .description-container {
      margin-top: 235px;
      margin-bottom: 14px;
      width: 80%;
    }
    .footer{
      margin: 0;
      .form-prev-todo{
        display: none;
      }
      .form-next-todo{
        width: 295px;
        height: 43px;
      }
      .main-button::after{
        display: none;
      }
    }
  }
}
