.MuiSelect-select.MuiSelect-outlined.MuiSelect-multiple.MuiOutlinedInput-input.MuiInputBase-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: transparent;
}

.create-todo * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.create-todo .form {
  padding: 108px 64px;
  flex-direction: column;
}
.create-todo .form-box {
  width: 947px;
  height: 734px;
  display: flex;
  flex-direction: column;
}
.create-todo .input-container {
  width: 819px;
  height: 237px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.create-todo .form-email-input {
  width: 396px;
  height: 50px;
  padding: 14px 0 14px 20px;
}
.create-todo .login-email {
  font-size: 18px;
  width: 400px;
  margin: 0;
  padding: 12px 2px;
}
.create-todo .form-description-input {
  padding: 14px 20px;
  width: 820px;
  height: 130px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  font: inherit;
  outline: 0;
  margin-top: 10px;
  resize: none;
}
.create-todo .form-email-label {
  padding: 0 10px;
  background: #fff;
  left: 15px;
  top: 1px;
}
.create-todo .form-description-label {
  cursor: text;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  color: #6F7D97;
  bottom: 100px;
  left: 10px;
  padding: 0 10px;
  margin-top: -15px;
  transform-origin: 0 50%;
  transition: 0.4s cubic-bezier(0.4, 0, 0, 1);
}
.create-todo .form-description {
  position: relative;
  font-size: 18px;
  min-width: 300px;
}
.create-todo .form-description-input::placeholder {
  opacity: 0;
  transition: 0.4s cubic-bezier(0.4, 0, 0, 1);
  transform: translate3d(0, 50%, 0);
}
.create-todo .form-description-input:focus::placeholder {
  opacity: 1;
  transform: none;
}
.create-todo .form-description-input:focus + .form-description-label, .create-todo .form-description-input:not(:placeholder-shown) + .form-description-label {
  transform: translate3d(5px, -25px, 0) scale(0.66);
}
.create-todo .MuiOutlinedInput-root {
  border-radius: 10px;
  width: 396px;
  height: 50px;
}
.create-todo ::-webkit-scrollbar {
  display: none;
}
.create-todo .menu-item {
  position: relative;
}
.create-todo .menu-item-icon {
  position: absolute;
  top: 12px;
}
.create-todo .circle {
  left: 15px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 17px;
  border-radius: 8px;
}
.create-todo .all-labels {
  padding: 0 10px;
  background: #FFF;
}
.create-todo .form-prev-todo {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #D7D7D7;
  border-radius: 10px;
  margin: 0 12px 0 0;
  background: transparent;
}
.create-todo .form-prev-todo:before {
  content: "<";
  color: #B7B7BF;
  position: absolute;
  left: 17px;
  top: 12px;
}
.create-todo .form-prev-todo:hover {
  background: transparent;
}
.create-todo .form-next-todo {
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 10px 8px 0;
  width: 180px;
  height: 50px;
  background: #03A0E8;
  border-radius: 10px;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
.create-todo .form-next-todo:after {
  content: "+";
  font-weight: normal;
  font-size: 30px;
  position: absolute;
  right: 22px;
  top: 13px;
}
.create-todo .footer {
  margin-left: 580px;
  margin-top: 20px;
}
.create-todo .MuiPaper-root {
  border-right: 10px;
}
.create-todo .tags-group {
  width: 350px;
  height: 26px;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  position: absolute;
  top: 1.5vh;
  left: 1vw;
  color: #6F7D97;
}
.create-todo .tags-title {
  position: absolute;
  font-size: 14px;
  color: #6F7D97;
  top: -1vh;
  left: 1vw;
  padding: 0 10px;
  background: #fff;
  z-index: 1;
}
.create-todo .tag {
  display: flex;
}

/*# sourceMappingURL=CreateTodo.css.map */
