
.error-wrap {
  z-index: 100000;
  background: rgba(247, 248, 250, 0.6);;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .error {
    overflow: hidden;
    width: 846px;
    height: 408px;
    background: #FFFFFF;
    box-shadow: 0 21px 48px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    display: flex;
    .error-image {
      position: relative;
      background: #C12727;
      span {
        position: absolute;
        font-style: normal;
        font-weight: 900;
        font-size: 74px;
        line-height: 74px;
        color: #FFFFFF;
      }

      .top-span {
        top: -7px;
        right: 2px;
      }

      .bot-span {
        bottom: -16px;
        left: -2px;
      }
      .image{
        background: url("../../../assets/images/error 1.png") no-repeat center center;
        height: 408px;
        width: 390px;
      }

    }
    .error-text{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 456px;
      padding-left: 66px;
      h3{
        display: inline-block;
        margin-bottom: 24px;
        width: 311px;
        height: 24px;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        color: #000850;
      }
      span{
        width: 329px;
        height: 66px;
        font-size: 18px;
        line-height: 120%;
        color: #000850;
        display: inline-block;
      }
    }
  }

}