
.error-wrap {
  z-index: 100000;
  background: rgba(247, 248, 250, 0.6);;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .error {
    position: relative;
    overflow: hidden;
    width: 846px;
    height: 408px;
    background: #FFFFFF;
    box-shadow: 0 21px 48px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    display: flex;
    .error-image {
      position: relative;
      background: #C12727;
      span {
        position: absolute;
        font-style: normal;
        font-weight: 900;
        font-size: 74px;
        line-height: 74px;
        color: #FFFFFF;
      }

      .top-span {
        top: -7px;
        right: 2px;
      }

      .bot-span {
        bottom: -16px;
        left: -2px;
      }
      .image{
        background: url("../../../assets/images/error.svg") no-repeat center center;
        height: 408px;
        width: 390px;
      }

    }
    .error-text{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 456px;
      padding-left: 66px;
      h3{
        display: inline-block;
        margin-bottom: 24px;
        width: 311px;
        height: 24px;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        color: #000850;
      }
      span{
        width: 329px;
        height: 66px;
        font-size: 18px;
        line-height: 120%;
        color: #000850;
        display: inline-block;
      }
    }
  }

}
@media screen and (max-width: 1350px){
  .error-wrap{
    .error{
      height: 574px;
      width: 514px;
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 600px){
  .error-wrap{
    .error{
      .error-text{
        height: 138px;
        width: 295px;
        padding-left: 0;
        justify-content: space-between;
        flex-direction: column;
        h3 {
          word-break: break-word;
          padding-left: 15px;
          font-weight: 800;
          font-size: 24px;
          line-height: 99.9%;
          text-align: center;
          color: #000850;
        }
        span{
          text-align: center;
        }
      }
      display: flex;
      height: 419px;
      width: 335px;
      .error-image{
        overflow: hidden;
        margin: 20px;
        width: 295px;
        height: 163px;
        border-radius: 10px;
        span{
          display: none;
        }
        .image{

          width: 295px;
          height: 295px;
          background: url("../../../assets/images/error-on-phone.png");
        }
      }
    }
  }
}