*{
  box-sizing: border-box;
  font-family: "Circe", sans-serif;
  font-style: normal;
}
.taskList.active{
  margin-right: 324px;
}
.taskList-title:after{
  content: '';
  background: url("../../assets/images/arrow.svg") no-repeat;
  position: absolute;
  width: 16px;
  height: 10px;
  right: -28px;
  top: 13px;
  transform: rotate(180deg);
}
.taskList-title.open:after{
  transform: rotate(0);
}
.taskList{
  margin: 0 15px 0 320px;
  padding-top: 15px;

  .taskList-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }
  .taskList-title{
    position: relative;
    font-family: "Circe ExtraBold", sans-serif;
    font-size: 24px;
    color: #000850;
    font-weight: 800;
    cursor: pointer;
  }
  .button-task{
    padding-right: 44px;
    position: relative;
  }
  .button-task:after{
      content: '+';
      font-weight: normal;
      font-size: 27px;
      line-height: 27px;
      position: absolute;
      right: 18px;
      top: 10px;
  }
  .taskList-header-items{
    display: flex;
  }
  .search-box{
    margin-left: 50px;
    position: relative;
  }
  .input-search{
    width: 287px;
    height: 44px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    background: #fff;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 1px;
    display: none;
    z-index: 1;
  }
  .btn-search{
    width: 60px;
    height: 44px;
    background: none;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  .btn-search:after{
    content: '';
    background: url("../../assets/images/Search.svg") no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 20px;
    top: 11px;
  }
  .btn-search:focus ~ .input-search{
    display: inline;
  }
  .input-search:hover, .input-search:focus{
    display: inline;
  }
  .btn-calendar{
    margin-left: 10px;
    width: 60px;
    height: 44px;
    background: none;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  .btn-calendar:after{
    content: '';
    background: url("../../assets/images/Calendar.svg") no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 18px;
    top: 10px;
  }
  .btn-calendar:focus ~ div > .react-datepicker{
    display: inline;
  }
  .react-datepicker:hover, .react-datepicker:focus{
    display: inline;
  }
  .react-datepicker{
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 6px;
    width: 335px;
    height: 327px;
    border-radius: 20px;
    font-family: "Circe", sans-serif;
  }
  .react-datepicker__header{
    border: none;
    background: none;
  }
  .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after{
    border: none;
  }
  .react-datepicker__navigation--previous{
    left: 245px
  }
  .react-datepicker__navigation:hover *::before{
    border-color: #000850;
  }
  .react-datepicker__navigation--next{
    right: 20px;
  }
  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
    font-weight: normal;
    font-size: 20px;
    color: #000850;
    margin-left: -150px;
  }
  .react-datepicker__day-names{
    margin-top: 0;
    font-size: 12px;
    color: #6F7D97;
    margin-left: 20px;
  }
  .react-datepicker__week{
    font-size: 12px;
    line-height: 18px;
    color: #000850;
    margin-left: 20px;
  }
  .react-datepicker__day--outside-month{
    color: #6F7D97;
  }
  .react-datepicker__day{
    margin: 10px;
    width: 20px;
    line-height: 20px;
  }
  .react-datepicker__day-name{
    margin: 10px;
    width: 20px;
    line-height: 20px;
  }
  .react-datepicker__navigation-icon::before{
    border-color: #000850;
    width: 7px;
    height: 7px;
    border-width: 2px 2px 0 0;
    top: 13px;
  }
  .react-datepicker__day--selected{
    background-color: #03A0E8;
    border-radius: 50%;
  }
  .react-datepicker__day--selected:hover{
    background-color: #03A0E8;
    border-radius: 50%;
  }
  .react-datepicker__day:hover{
    border-radius: 50%;
  }

  .MuiInput-root{
    border: 1px solid #B7B7BF;
    border-radius: 10px;
    height: 44px;
    width: 230px;
  }
  .MuiListItemIcon-root{
    min-width: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .MuiSelect-select:focus{
    background: none;
  }
  .MuiSelect-icon{
    margin-right: 15px;
  }

}